{% extends 'base.html' %}
{% block content %}
<center>
<div class="card" style="width: 18rem; background-color:#8a8a8a;">
  <img src="{{url_for('static', filename='images/lakerslakers.jpg')}}" class="card-img-top" alt="Lakers2018">
  <div class="card-body">
    <h5 class="card-title">Name: Los Angeles Lakers</h5>
      <p>Conference: Western </p>
    <p class="card-text">Founded: 1947</p>
      <p>Arena: Staples Center </p>
      <p>Location: Los Angeles, California</p>
      <p>Head Coach: Frank Vogel</p>
      <p>Star Player: LeBron James</p>
  </div>
</div>
    </center>
{% endblock %}