{% extends 'base.html' %}
{% block content %}
<center>
<div class="card" style="width: 18rem; background-color:#8a8a8a;">
  <img src="{{url_for('static', filename='images/bron2003.jpg')}}" class="card-img-top" alt="Lebron2018">
  <div class="card-body">
    <h5 class="card-title">Name: LeBron James</h5>
      <p>Age: 35 </p>
      <p>Occupation: American professional Basketball Player</p>
      <p>Height: 6ft 9in</p>
      <p>Weight: 250lb</p>
      <p>Position: SF/PF</p>
      <p>Current Team: Los Angeles Lakers</p>
  </div>
</div>
    </center>
{% endblock %}
