{% extends 'base.html' %}

{% block content %}
<center>
    <h1>{% block title %}Stats{% endblock %}</h1>
    <div  id="datepicker" data-date={{date.month}}"/"{{date.day}}"/"{{date.year}}>
    </div>
    <h2>LeBron's Stats on {{date.month}}/{{date.day}}/{{date.year}}</h2>
    {% if stats != None %}
    <table class="table">
      <tbody style="color: white;">
        {% for category, stat in stats.items() %}
        <tr>
          <td>{{ category }}</td>
          <td>{{ stat }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No game</h3>
    {% endif %}
</center>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('#datepicker').datepicker()
      .on('changeDate', function(e){
          // $.get('/stats/' + e.date)
          location.href = '/stats/' + e.format("yyyy-mm-dd")
      });
</script>
{% endblock %}
